<div style="@css">
    @ChildContent
</div>

@code {
    [CascadingParameter(Name = "IndicatorDownClicked")]
    public bool IndicatorDownClicked { get; set; }
    [Parameter]
    public bool isMulti { get; set; }
    [Parameter]
    public bool hasValue { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    private string css = "align-items:center;display:flex;flex:1;flex-wrap:wrap;padding:8px 8px;position:relative;overflow:hidden;";
    protected override bool ShouldRender()
    {
        if (IndicatorDownClicked) return false;
        return base.ShouldRender();
    }
}